<ion-menu side="start" menuId="firstleft">
    <ion-header>
        <ion-toolbar color="primary">
          <ion-title>MENU</ion-title>
        </ion-toolbar>
      </ion-header>



<ion-content>
<ion-list>
    <ion-item>BPJS</ion-item>
    <ion-item>Cek Saldo</ion-item>
    <ion-item>Mutasi</ion-item>
    <ion-item>Prabayar</ion-item>
    <ion-item>Pascabayar</ion-item>
    <ion-item>Rekening</ion-item>
    <ion-item>Riwayat</ion-item>
    <ion-item>Transfer</ion-item>
    <ion-item>Setting</ion-item>
</ion-list>

</ion-content>
</ion-menu>
