.ion-card{
    width: 90%;
        display: block;
        margin: 7% auto;
        border-radius: 5px;
        padding: 1%;
}
.bgg{
    height: 100%;
    width: 100%;
}
.ion-button{
border-radius: 5px;
color: #36884D;
}