<ion-header>
  <ion-toolbar>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-card>
  <ion-grid>
    <ion-row>
      <ion-icon name="cloud-download"></ion-icon>
      <div>Ambil data produk</div>
    </ion-row>
    <ion-row>
      <ion-icon name="contacts"></ion-icon>
      <div>Ambil Rekening</div>
    </ion-row>
  </ion-grid>
</ion-card> -->
<ion-list no-border>
<ion-list-header no-margin>
  Perangkat
</ion-list-header>

<ion-item>
  <ion-icon name="cloud-download"></ion-icon>
  Ambil Data Produk
</ion-item>
</ion-list>
<ion-list no-border>
  <ion-list-header no-margin>
    Account
  </ion-list-header>
  <ion-item>
    <ion-icon name="contacts"></ion-icon>
    Ambil Rekening
  </ion-item>
  <ion-item>
    <ion-icon name="card"></ion-icon>
    Ubah Rekening Utama 
  </ion-item>
  <ion-item>
    <ion-icon name="list"></ion-icon>
    Riwayat Transaksi
  </ion-item>
</ion-list>
<ion-list no-border>
  <ion-list-header no-margin>
      Security
  </ion-list-header>
  <ion-item>
    <ion-icon name="keypad"></ion-icon>
    Ganti Pin
  </ion-item>
  <ion-item>
    <ion-icon name="key"></ion-icon>
    Ganti Password
  </ion-item>
</ion-list>
<ion-list no-border>
  <ion-list-header no-margin>
    Lainnya
  </ion-list-header>
  <ion-item>
    <ion-icon name="call"></ion-icon>
    Call Center and Info Banking
  </ion-item>
  <ion-item>
      <ion-icon name="information-circle-outline"></ion-icon>
      Tentang Aplikasi
  </ion-item>
</ion-list>
</ion-content>
