<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center"><font style="color: black">SIGNUP</font></ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content >
      <div class="bg" style="background: url('assets/bg-top.png') no-repeat; background-position: center;">
    <ion-row justify-content-center>
      <div class="top">
      <img src="assets/logo.png">
    </div>
    </ion-row>
    <ion-card>
    <ion-list insert>
    <ion-item>
      <ion-label>Username     : </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Number Phone : </ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>No Rekening  :</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password :</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
   
    </ion-list>
    <div padding ><ion-button block-color="#36884D" (click)="home()">SIGN UP</ion-button></div>
    </ion-card>
    </div>
    </ion-content>
