 .top{
        margin-top: 140px;
        height: 140px;
        width: 140px;
        margin-bottom: 50px;
    }
   .p{
    font-size: 10pt; 
    margin-top: 12px
   }
   .ion-list{
       height: 80%;
       width: 80%;
   }
   .p{
       font-size: 12pt;
   }
   .button{
       margin: 0 auto;
       text-align: center;
   }