.toolbar-background{
    background-color: transparent;
}
.bagiansatu{
    width: 100%;
    text-align: center;
    padding: 10% 0 0 0;
    background-image: linear-gradient(#36884D, #ffffff);
}
.menus{
    position: relative;
    margin: 5% auto 10% auto;
    text-align: center;
    font-size: 10.5pt;
    width: 80%;
    padding: 3% 0 3% 0;
    border-radius: 10px;
}
.submenu{
    background-color: #fff59d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    display: block;
    margin: auto auto 6% auto;
}
.submenu .icon{
    text-align: center;
    margin-top: 25px;
}
hr{
    height: 8px;
    background-color: #e0e0e0;
}
.menus .row{
    margin-bottom: 5%;
    margin-top: 5%; 
}
.yee{
    height: 100px;
    width: 400px;
    background-color: #ffffff;
}
.news{
    text-align: center;
}
.promotion{
    text-align: center;
}